<div class="new-players-container d-flex flex-column justify-content-center">
  <%= simple_form_for [@game] do |f| %>
  <%= f.input :name, label: "Nom", placeholder: "Cette fois c'est la bonne !", required: true %>
  <%= f.input :goal_score, label: "Score à atteindre", placeholder: "42", required: true %>
  <%= f.input :number, collection: 2..6, label: "Nombre de joueurs", required: true %>
  <%= f.button :submit, "Zest bartiii !", class: "btn btn-success center-button"%>
  <% end %>
</div>
