<div class="mt-5">
  <%= simple_form_for [@game] do |f| %>
  <%= f.input :name, label: "Nom", placeholder: "Cette fois c'est la bonne !", required: true %>
  <%= f.input :goal_score, label: "Score à atteindre", placeholder: "42", required: true %>
  <%= f.input :number, as: :integer, label: "Nombre de joueurs", required: true %>
  <%= f.button :submit, "Zest bartiii !", class: "btn btn-success center-button"%>
  <% end %>
</div>
