<h1 class="mt-5 mb-5"><%= @game.name %></h1>
<h2 class="mt-5 mb-5"><%= @game.goal_score %></h2>
<div class="grid">
<% @players.each do |player| %>
  <div class="grid-element"><h3><%= player.name %></h3>
    <%= simple_form_for [@game, player], remote: true, method: :patch, url: game_updatescore_path(@game, player) do |f| %>
      <%= f.input :score_made, as: :integer, label: "Score", placeholder: 42, required: true, input_html: {value: 0 } %>
      <%= f.submit "Let's go", class: "btn btn-success center-button"%>
    <% end %>
    <br>
    <% player.history.split(",").each do |number| %>
    <%= number %><br>
    <% end %>
    <%= player.current_score %>
  </div>
<% end %>
</div>
