<!DOCTYPE html>
<html>
  <head>
    <title>Sukoa</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body class="container">
    <div class="mt-5 homebutton"><%= link_to root_path do %>
    <%= cl_image_tag "https://res.cloudinary.com/kupopilika/image/upload/v1592317254/Sukoa/sukoa_favicon.png", class: "avatar"%>
    <% end %>
    </div>
    <%= render 'shared/flashes' %>
    <%= yield %>
  </body>
</html>
